body{
  height: 100vh;
  width: 100vw;
  background-image:
      url("./components/gaming-wallpaper.jpg")
}

header{
  height: 10vh;
  width: 100vw;
  background-color: rgb(167, 167, 167);
  display: flex;
  justify-content: center;
  align-content: center;
  color: rgb(218, 0, 0)
}

.main{
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
}

.gameBar{
  height: 85vh;
  width: 30vw;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.cardContainer{
  display: flex;
  flex-flow: row wrap;
  margin: 4px;
  max-height: 80vh;
  overflow-y:auto;
  overflow-x:hidden;
  margin-top: 15px;
}

.gameCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color:rgb(167, 167, 167);
  width: 10vw;
  margin: 4px;
  color: indigo;
  box-shadow: 2px 2px 2px 2px rgba(230, 230, 230, 0.3);
}

.cardDetails{
  display: flex;
  justify-content: space-between
}

.gameDev{
  word-wrap: normal;
  margin: 2px;
  color: rgb(97, 21, 168)
}

.physOrDigi{
  margin: 2px;
  color: darkslateblue
}

.chart{
  height: 85vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.theActualChart{
  height: 40vh;
  width: 40vw;
}

.footer{
  display: flex;
  justify-content: center;
  height: 5vh;
  width: 100vw;
  color: indigo;
}

.Modal {
  position: fixed;
  background-color: rgb(54, 54, 54);
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px
}

.form{
  display: flex;
  flex-direction: column
}

.Overlay {
  position: fixed;
  top: 10vh;
  left: 40vw;
}

.exitButton{
  margin-top: 15px;
}

.gameBarTop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.gameTitle{
  display: flex;
  justify-content: center;
}